---
/* https://usil.edu.pe/sites/default/files/2024-05/bandera-arg.png
https://usil.edu.pe/sites/default/files/2024-05/bandera-col.png
https://usil.edu.pe/sites/default/files/2024-05/bandera-eeuu.png
https://usil.edu.pe/sites/default/files/2024-05/bandera-es.png
https://usil.edu.pe/sites/default/files/2024-05/bandera-mx.png 
https://usil.edu.pe/sites/default/files/2024-05/logo-u-politecnica-madrid.png*/
const destinos = [
    {
        bandera: "https://usil.edu.pe/sites/default/files/2024-05/bandera-es.png",
        titulo: "Inteligencia Artificial e Innovación Tecnológica",
        intro: "Estudia en la Universidad Politécnica de Madrid y capacítate en Inteligencia Artificial e Innovación Tecnológica en España. Además, realiza visitas empresariales y culturales en la ciudad de Madrid. Todo de la mano de nuestra partner:",
        logo: "https://usil.edu.pe/sites/default/files/2024-05/logo-u-politecnica-madrid.png",
        aplica: "Facultad de Ciencias de la Salud ",
        duracion: "Del 1 al 5 de julio",
        limite: "17 de mayo",
    },
    {
        bandera: "https://usil.edu.pe/sites/default/files/2024-05/bandera-es.png",
        titulo: "Inteligencia Artificial e Innovación Tecnológica",
        intro: "Estudia en la Universidad Politécnica de Madrid y capacítate en Inteligencia Artificial e Innovación Tecnológica en España. Además, realiza visitas empresariales y culturales en la ciudad de Madrid. Todo de la mano de nuestra partner:",
        logo: "https://usil.edu.pe/sites/default/files/2024-05/logo-u-politecnica-madrid.png",
    },
];

let openIndex = 0;

function handleToggle(index) {
    openIndex = index === openIndex ? 0 : index;
    return openIndex.toString();
}
---

<div class="faq-container">
    {
        destinos.map((destino, index) => (
            <details open={index === openIndex} class="faq-item">
                <summary
                    class="tabTitulo faq-title flex items-center content-between relative gap-4 sm:w-11/12 xs:w-11/12"
                    onclick={handleToggle(index)}
                >
                    <img
                        src={destino.bandera}
                        alt="Bandera México"
                    />
                    {destino.titulo}
                </summary>
                <div
                    class="faq-content flex flex-col items-center"
                    style={{
                        overflow: "hidden",
                        transition: "height 0.2s ease-out",
                    }}
                >
                    <p class="contentP text-center">{destino.intro}</p>
                    <img
                        src={destino.logo}
                        alt="Logo"
                    />
                    <p>Aplica: {destino.aplica} | Duración: {destino.duracion}</p>
                    <p>Fecha límite de postulación: {destino.limite}</p>
                    <a class="btn-conoce flex items-center gap-2 rounded-md px-4 py-3 my-6">
                        <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="currentColor" d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 144-208 0c-35.3 0-64 28.7-64 64l0 144-48 0c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128zM176 352l32 0c30.9 0 56 25.1 56 56s-25.1 56-56 56l-16 0 0 32c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-48 0-80c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24l-16 0 0 48 16 0zm96-80l32 0c26.5 0 48 21.5 48 48l0 64c0 26.5-21.5 48-48 48l-32 0c-8.8 0-16-7.2-16-16l0-128c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16l0-64c0-8.8-7.2-16-16-16l-16 0 0 96 16 0zm80-112c0-8.8 7.2-16 16-16l48 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 32 32 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 48c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-64 0-64z"/></svg> Conoce más aquí
                    </a>
                    <p class="font-bold">Charla informativa:</p>
                    <a class="seleccionarA underline">Seleccionar Charla aquí</a>
                </div>
            </details>
        ))
    }
</div>

<style lang="scss">
    @import "/src/assets/scss/App.scss";

    $mainDark: #002165;
    $mainLight: #2fc58e;
    $mainText: #484848;
    $btnConoce: #0D52D6;

    .mainLight {
        color: $mainLight;
    }
    .mainDark {
        color: $mainDark;
    }
    .white {
        color: $white;
    }
    .black {
        color: $black;
    }

    :root {
        --white: #fff;
        --background: #060d23;
        --background-hover: #383d4f;
        --primary-blue: #00e0fe;
        --blue-gray: #f4fcff;
    }

    .faq-container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 12rem;
        max-width: 1000px;
        padding: 2rem;
        border-radius: 1em;
        /* background-color: var(--background); */
    }

    details {
        font-size: 1rem;
        margin: 0 auto;
        width: 100%;
        border-radius: 0.5rem;
        position: relative;
        transition: all 0.3s ease-in-out;

        &:hover {
            /* background-color: var(--background-hover); */

            svg {
                stroke: var(--primary-blue);
            }
        }

        &[open] {
            /* background-color: var(--background-hover); */

            .faq-title {
                color: var(--primary-blue);
            }
        }
    }

    summary {
        background-color: $mainDark;
        border-radius: 1rem;
        user-select: none;
        cursor: pointer;
        font-weight: 600;
        display: flex !important;
        list-style: none;
        padding: 0.5rem 1rem;
        align-items: center;
        position: relative;

        &:before {
            content: "▼";
            width: auto;
            height: min-content;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 20px;
            transform-origin: center;
            color: $white;
            font-size: 2rem;
            z-index: 1;
            transition: transform 0.3s ease;
            @include mobile() {
                right: 10px;
            }
            @include xs() {
                font-size: 1.2rem;
            }
        }

        &.rotated::before {
            color: $mainDark;
            transform: rotate(180deg);
        }

        svg {
            stroke: var(--white);
        }

        &:hover {
            .faq-title {
                color: var(--primary-blue);
            }
        }

        &::-webkit-details-marker {
            display: none;
        }

        &:focus {
            outline: none;
        }

        details[open] & {
            background-color: $mainLight;
            /* img {
            stroke: var(--primary-blue);
            transform: rotate(180deg);
        } */
        }
    }

    .faq-title {
        color: var(--white);
        transition: all 250ms ease-in-out;
    }

    .faq-content {
        color: $mainText;
        padding: 2rem 1rem 1rem 1rem;
        font-weight: 300;
        line-height: 1.5;

        .btn-conoce{
            background-color: $btnConoce;
            color: $white;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &:hover{
                background-color: lighten($btnConoce, 10%);
            }
        }

        .seleccionarA{
            color: $btnConoce;
            cursor: pointer;
        }
    }

    .expand-icon {
        pointer-events: none;
        position: absolute;
        right: 1rem;
        color: $white;
        transition: all 150ms ease-out;
        width: 1rem;
        height: auto;
    }

    .tabTitulo {
        color: $white;
        @include xs() {
            font-size: 0.8rem;
        }
    }
</style>

<script>
    document.querySelectorAll("details > summary").forEach((summary) => {
        summary.parentNode.addEventListener("toggle", function () {
            window.requestAnimationFrame(() => {
                if (this.open) {
                    summary.classList.add("rotated");
                } else {
                    summary.classList.remove("rotated");
                }
            });
        });

        summary.addEventListener("click", function () {
            document
                .querySelectorAll("details > summary")
                .forEach((otherSummary) => {
                    if (otherSummary !== summary) {
                        otherSummary.classList.remove("rotated");
                    }
                });
            document.querySelectorAll("details").forEach((details) => {
                if (details !== summary.parentNode) {
                    details.removeAttribute("open");
                }
            });
        });
    });
</script>