---
/* https://usil.edu.pe/sites/default/files/2024-05/bandera-arg.png
https://usil.edu.pe/sites/default/files/2024-05/bandera-col.png
https://usil.edu.pe/sites/default/files/2024-05/bandera-eeuu.png
https://usil.edu.pe/sites/default/files/2024-05/bandera-es.png
https://usil.edu.pe/sites/default/files/2024-05/bandera-mx.png 
https://usil.edu.pe/sites/default/files/2024-05/logo-u-politecnica-madrid.png


https://usil.edu.pe/sites/default/files/2024-05/logo-anahuac.png
https://usil.edu.pe/sites/default/files/2024-05/logo-college-staten.png
https://usil.edu.pe/sites/default/files/2024-05/logo-eafit.png
https://usil.edu.pe/sites/default/files/2024-05/logo-rosario.png
https://usil.edu.pe/sites/default/files/2024-05/logo-ucam.png

PDFS
https://usil.edu.pe/sites/default/files/2024-06/FACT_SHEET_STUDY_TOUR_ANAHUAC_MEXICO.pdf
https://usil.edu.pe/sites/default/files/2024-06/FACT_SHEET_STUDY_TOUR_ARGENTINA_ARQUI.pdf
https://usil.edu.pe/sites/default/files/2024-06/FACT_SHEET_STUDY_TOUR_ARGENTINA_COMUNICACIONES.pdf
https://usil.edu.pe/sites/default/files/2024-06/FACT_SHEET_STUDY_TOUR_CUNY_EEUU.pdf
https://usil.edu.pe/sites/default/files/2024-06/FACT_SHEET_STUDY_TOUR_EAFIT_COLOMBIA.pdf
https://usil.edu.pe/sites/default/files/2024-06/FACT_SHEET_STUDY_TOUR_UCAM_ESPANA.pdf
https://usil.edu.pe/sites/default/files/2024-06/FACT_SHEET_STUDY_TOUR_UPOLITECNICA_ESPANA.pdf
https://usil.edu.pe/sites/default/files/2024-06/FACT_SHEET_STUDY_TOUR_UROSARIO_COLOMBIA.pdf

<script>
    // Array de Charlas
    // Este es un array que contiene todas las charlas disponibles.
    const charlas = [
        "Experience New York study tour",
        "Salud y deportes en España",
        "Turismo y Gastronomía en Cancun",
        "Inteligencia Artificial e Innovación Tecnológica",
        "El impacto de Perú en la Colombia de hoy",
        "Comunicación, Arte y Cultura en Argentina",
        "Innovación y emprendimiento",
        "Arquitectura y Tradición argentina",
        "Vive la experiencia en Educación Inicial en Alemania",
    ];

    // Esta función toma un selector y una función de callback.
    // Intenta seleccionar el elemento con el selector dado.
    // Si el elemento existe, llama a la función de callback con el elemento como argumento.
    // Si el elemento no existe, intenta de nuevo después de 500 milisegundos.
    function checkElement(selector, callback) {
        let el = document.querySelector(selector);
        if (el) {
            callback(el);
        } else {
            setTimeout(() => checkElement(selector, callback), 500);
        }
    }

    // Usa la función para esperar a que el div exista
    // Aquí usamos la función checkElement para esperar a que el elemento con la clase 'hs-form' exista.
    // Cuando el elemento existe, ejecutamos la función de callback.
    checkElement('.hs-form', (hsForm) => {
        // Selector de Carreras
        // Aquí seleccionamos el elemento select que contiene las carreras.
        const selector = hsForm.querySelector('select[name="internacional___study_tours"]');

        // Aquí establecemos un intervalo que se ejecuta cada 500 milisegundos.
        let checkExist = setInterval(function() {
            // Aquí seleccionamos todos los botones con la clase 'coh-style-usil-card-link'.
            const inscribirmeCTA = document.querySelectorAll('.seleccionarA');
            // Si hay al menos un botón, ejecutamos el siguiente código.
            if (inscribirmeCTA.length > 0) {
                // Itera sobre cada botón
                // Aquí agregamos un event listener a cada botón.
                // Cuando se hace clic en un botón, ejecutamos la siguiente función.
                inscribirmeCTA.forEach((boton, index) => {
                    boton.addEventListener('click', () => {
                        // Si el índice del botón es menor que la longitud del array de charlas, ejecutamos el siguiente código.
                        if (index < charlas.length) {
                            // Hace lo miso pero valida index nada mas
                            // selector.selectedIndex = index;

                            // Aquí obtenemos la charla correspondiente al índice del botón.
                            const charla = charlas[index];
                            // Aquí iteramos sobre cada opción del selector.
                            // Si el valor de la opción es igual al de la charla, seleccionamos esa opción y disparamos el evento 'change'.
                            Array.from(selector.options).forEach((option, i) => {
                                if (option.value === charla) {
                                    selector.focus();
                                    selector.selectedIndex = i;
                                    selector.blur();
                                    selector.dispatchEvent(new Event('change'));
                                }
                            });
                        }
                    });
                });
                // Si hay al menos un botón, detenemos el intervalo.
                clearInterval(checkExist);
            }
        }, 500); // Verifica cada 500ms
    });
</script>
*/
const destinos = [
    {
        bandera: "2024-05/bandera-eeuu.png",
        titulo: "Experience New York study tour",
        intro: "Este programa te ofrece la oportunidad de participar en clases de inglés aplicado a los negocios, visitar empresas y explorar lugares turísticos en ciudad de Nueva York. Todo de la mano de nuestra partner:",
        logo: "2024-05/logo-college-staten.png",
        aplica: "Todas las Facultades",
        duracion: "Del 14 al 20 de julio",
        limite: "30 de junio",
        pdf: "2024-06/FACT_SHEET_STUDY_TOUR_CUNY_EEUU.pdf",
    },
    {
        bandera: "2024-05/bandera-es.png",
        titulo: "Salud y deportes en España",
        intro: "Viaja a Murcia para potenciar tus conocimientos en salud y deportes y ampliar tu networking. Todo de la mano de nuestra partner:",
        logo: "2024-05/logo-ucam.png",
        aplica: "Faculta de Ciencias de la Salud | Carrera: Ciencias de la Actividad Física y el Deporte",
        duracion: "Del 14 al 20 de julio",
        limite: "30 de junio",
        pdf: "2024-06/FACT_SHEET_STUDY_TOUR_UCAM_ESPANA.pdf",
    },
    {
        bandera: "2024-05/bandera-mx.png",
        titulo: "Turismo y Gastronomía en Cancun",
        intro: "¡Amplía tus conocimientos en hotelería, turismo y gastronomía! Visita empresas, amplía tu networking y pásala sensacional en recorridos turísticos. Todo de la mano de nuestra partner:",
        logo: "2024-05/logo-anahuac_0.png",
        aplica: "Facultad de Hotelería, Turismo y Gastronomía",
        duracion: "Del 10 al 17 de julio",
        limite: "30 de junio",
        pdf: "2024-06/FACT_SHEET_STUDY_TOUR_ANAHUAC_MEXICO.pdf",
    },
    {
        bandera: "2024-05/bandera-es.png",
        titulo: "Inteligencia Artificial e Innovación Tecnológica",
        intro: "Estudia en la Universidad Politécnica de Madrid y capacítate en Inteligencia Artificial e Innovación Tecnológica en España. Además, realiza visitas empresariales y culturales en la ciudad de Madrid. Todo de la mano de nuestra partner:",
        logo: "2024-05/logo-u-politecnica-madrid.png",
        aplica: "Facultad de Ingenería",
        duracion: "Del 1 al 5 de julio",
        limite: "30 de junio",
        pdf: "2024-06/FACT_SHEET_STUDY_TOUR_UPOLITECNICA_ESPANA.pdf",
    },
    {
        bandera: "2024-05/bandera-col.png",
        titulo: "El impacto de Perú en la Colombia de hoy",
        intro: "Viaja a Bogotá para conocer más sobre la realidad política, social y económica de Colombia. Además, visita reconocidas empresas, amplía tu networking y realiza recorridos turísticos. Todo de la mano de nuestra partner:",
        logo: "2024-05/logo-rosario.png",
        aplica: "Facultad de Derecho",
        duracion: "Del 4 al 10 de agosto",
        limite: "30 de junio",
        pdf: "2024-06/FACT_SHEET_STUDY_TOUR_UROSARIO_COLOMBIA.pdf",
    },
    {
        bandera: "2024-05/bandera-arg.png",
        titulo: "Comunicación, Arte y Cultura en Argentina",
        intro: "Potencia tus conocimientos con nuestro Study Tour en Argentina, en el que podrás participar de master classes de comunicación, arte y cultura, así como visitas a empresas y a diversos lugares turísticos dentro de la ciudad de Buenos Aires. Todo de la mano de nuestra partner:",
        logo: "2024-05/uade_una_gran_universidad_0.png",
        aplica: "Facultad de Comunicación / Facultad de Artes y Humanidades",
        duracion: "Del 7 al 10 de octubre",
        limite: "30 de junio",
        pdf: "2024-06/FACT_SHEET_STUDY_TOUR_ARGENTINA_COMUNICACIONES.pdf",
    },
    {
        bandera: "2024-05/bandera-col.png",
        titulo: "Innovación y emprendimiento",
        intro: "Viaja a Medellín para conocer más sobre el mundo de la innovación y el emprendimiento, visitar reconocidas empresas, ampliar tu networking y realizar recorridos turísticos. Todo de la mano de nuestra partner:",
        logo: "2024-05/logo-eafit.png",
        aplica: "Facultad de Ciencias Empresariales",
        duracion: "Del 20 al 26 de octubre",
        limite: "30 de junio",
        pdf: "2024-06/FACT_SHEET_STUDY_TOUR_EAFIT_COLOMBIA.pdf",
    },
    {
        bandera: "2024-05/bandera-arg.png",
        titulo: "Arquitectura y Tradición argentina",
        intro: "Viaja a Buenos Aires para sumergirte en su maravillosa arquitectura, ampliar tu networking, realizar recorridos culturales y ser parte de la 19 Bienal Internacional de Arquitectura. Todo de la mano de nuestra partner:",
        logo: "2024-05/uade_una_gran_universidad_0.png",
        aplica: "Facultad de Arquitectura, Urbanismo y Territorio",
        duracion: "Del 7 al 10 de octubre",
        limite: "30 de junio",
        pdf: "2024-06/FACT_SHEET_STUDY_TOUR_ARGENTINA_ARQUI.pdf",
    },
    
    {
        bandera: "2024-05/bandera-al.png",
        titulo: "Educación Global: Inmersión en la Pedagogía alemana",
        intro: "Refuerza tus conocimientos en pedagogía y amplía tu networking en Alemania, donde podrás aprender de la Educación alemana en HELMECA y realizar prácticas en Escuelas infantiles, así como realizar visitas y excursiones en la ciudad de Múnich. Todo de la mano de nuestra partner:",
        logo: "2024-05/channels4_profile_0.jpg",
        aplica: "Facultad de Educación",
        duracion: "Del 20 al 26 de octubre",
        limite: "30 de junio",
        pdf: "",
    },
];

let openIndex = 0;

function handleToggle(index) {
    openIndex = index === openIndex ? 0 : index;
    return openIndex.toString();
}
---

<div class="faq-container">
    {
        destinos.map((destino, index) => (
            <details open={index === openIndex} class="faq-item">
                <summary
                    class="tabTitulo uppercase faq-title flex items-center content-between relative gap-4"
                    onclick={handleToggle(index)}
                >
                    <img
                        src=`https://usil.edu.pe/sites/default/files/${destino.bandera}`
                        alt="Bandera México"
                    />
                    {destino.titulo}
                </summary>
                <div
                    class="faq-content flex flex-col items-center mb-10"
                    style={{
                        overflow: "hidden",
                        transition: "height 0.2s ease-out",
                    }}
                >
                    <p class="contentP text-center">{destino.intro}</p>
                    <img
                        src=`https://usil.edu.pe/sites/default/files/${destino.logo}`
                        alt="Logo"
                        class="my-4"
                    />
                    <p class="text-center">
                        <span class="font-bold xs:block">Aplica:</span> {destino.aplica} <span class="inline-block xs:!hidden">|</span> <span class="font-bold mt-0 sm:inline-block xs:block sm:mt-4 xs:mt-4">Duración:</span> {destino.duracion}
                    </p>
                    <p class="text-center mt-6">
                        <span class="font-bold">Fecha límite de postulación:<br class="hidden xs:block"/></span> {destino.limite}
                    </p>
                    {destino.pdf !== "" ? 
                        <a href=`https://usil.edu.pe/sites/default/files/${destino.pdf}` target="_blank" class="btn-conoce flex items-center gap-2 rounded-md px-4 py-3 my-6">
                            <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="currentColor" d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 144-208 0c-35.3 0-64 28.7-64 64l0 144-48 0c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128zM176 352l32 0c30.9 0 56 25.1 56 56s-25.1 56-56 56l-16 0 0 32c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-48 0-80c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24l-16 0 0 48 16 0zm96-80l32 0c26.5 0 48 21.5 48 48l0 64c0 26.5-21.5 48-48 48l-32 0c-8.8 0-16-7.2-16-16l0-128c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16l0-64c0-8.8-7.2-16-16-16l-16 0 0 96 16 0zm80-112c0-8.8 7.2-16 16-16l48 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 32 32 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 48c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-64 0-64z"/></svg> Conoce más aquí
                        </a>
                    : ""}
                    <p class="font-bold">Charla informativa:</p>
                    <a href="#inscribete" class="seleccionarA underline">Seleccionar Charla aquí</a>
                </div>
            </details>
        ))
    }
</div>

<style lang="scss">
    @import "/src/assets/scss/App.scss";

    $mainDark: #002165;
    $mainLight: #2fc58e;
    $mainText: #484848;
    $btnConoce: #0D52D6;

    .mainLight {
        color: $mainLight;
    }
    .mainDark {
        color: $mainDark;
    }
    .white {
        color: $white;
    }
    .black {
        color: $black;
    }

    :root {
        --white: #fff;
        --background: #060d23;
        --background-hover: #383d4f;
        --primary-blue: #00e0fe;
        --blue-gray: #f4fcff;
    }

    .faq-container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 1000px;
        padding: 2rem;
        border-radius: 1em;
        /* background-color: var(--background); */
    }

    details {
        font-size: 1rem;
        margin: 0 auto;
        width: 100%;
        border-radius: 0.5rem;
        position: relative;
        transition: all 0.3s ease-in-out;

        &:hover {
            /* background-color: var(--background-hover); */

            svg {
                stroke: var(--primary-blue);
            }
        }

        &[open] {
            /* background-color: var(--background-hover); */

            .faq-title {
                color: #408080;
            }
        }
    }

    summary {
        background-color: $mainDark;
        border-radius: 1rem;
        user-select: none;
        cursor: pointer;
        font-weight: 600;
        display: flex !important;
        list-style: none;
        padding: 0.5rem 1rem;
        align-items: center;
        position: relative;

        &:before {
            content: "▼";
            width: auto;
            height: min-content;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 20px;
            transform-origin: center;
            color: $white;
            font-size: 2rem;
            z-index: 1;
            transition: transform 0.3s ease;
            @include mobile() {
                right: 10px;
            }
            @include xs() {
                font-size: 1.2rem;
            }
        }

        &.rotated::before {
            color: $mainDark;
            transform: rotate(180deg);
        }

        svg {
            stroke: var(--white);
        }

        &:hover {
            .faq-title {
                color: var(--primary-blue);
            }
        }

        &::-webkit-details-marker {
            display: none;
        }

        &:focus {
            outline: none;
        }

        details[open] & {
            background-color: $mainLight;
            /* img {
            stroke: var(--primary-blue);
            transform: rotate(180deg);
        } */
        }
    }

    .faq-title {
        color: var(--white);
        transition: all 250ms ease-in-out;
    }

    .faq-content {
        color: $mainText;
        padding: 2rem 1rem 1rem 1rem;
        font-weight: 300;
        line-height: 1.5;

        .btn-conoce{
            background-color: $btnConoce;
            color: $white;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &:hover{
                background-color: lighten($btnConoce, 10%);
            }
        }
        .contentP{
            text-wrap: pretty;
        }

        .seleccionarA{
            color: $btnConoce;
            cursor: pointer;
        }
    }

    .expand-icon {
        pointer-events: none;
        position: absolute;
        right: 1rem;
        color: $white;
        transition: all 150ms ease-out;
        width: 1rem;
        height: auto;
    }

    .tabTitulo {
        color: $white;
        @include xs() {
            font-size: 0.8rem;
        }
    }
</style>

<script>
    document.querySelectorAll("details > summary").forEach((summary) => {
        summary.parentNode.addEventListener("toggle", function () {
            window.requestAnimationFrame(() => {
                if (this.open) {
                    summary.classList.add("rotated");
                } else {
                    summary.classList.remove("rotated");
                }
            });
        });

        summary.addEventListener("click", function () {
            document
                .querySelectorAll("details > summary")
                .forEach((otherSummary) => {
                    if (otherSummary !== summary) {
                        otherSummary.classList.remove("rotated");
                    }
                });
            document.querySelectorAll("details").forEach((details) => {
                if (details !== summary.parentNode) {
                    details.removeAttribute("open");
                }
            });
        });
    });
</script>